// font
$font-size-xs: 70%;
$font-size-s: 80%;
$font-size-m: 1rem;
$font-size-l: 1.25rem;
$font-size-xl: 1.5rem;
$font-size-xxl: 2rem;
$font-weight-normal: normal;
$font-weight-medium: 600;
$line-height-normal: 1.35;
$line-height-big: 1.7;

// colors
$light-gray: #d8d8d8;
$medium-gray: #8e8e8e;
$white: #fff;
$transparent: rgba(0, 0, 0, 0);
$black-alpha-20: rgba(0, 0, 0, 0.2);
$black-alpha-50: rgba(0, 0, 0, 0.5);
$black-alpha-60: rgba(0, 0, 0, 0.6);
$black-alpha-80: rgba(0, 0, 0, 0.8);
$white-alpha-80: rgba(255, 255, 255, 0.8);
$white-alpha-92: rgba(255, 255, 255, 0.92);
$shadow-color: rgba(0, 0, 0, 0.13);

// radius
$radius-small: 4px;
$radius-medium: 8px;
$radius-large: 12px;
